

.bigCounter div{  
      display: inline-block;
      background-color: rgb(36, 36, 36);
      color: white;
      font-size: 100px;
      padding: 50px;  
      margin: 5px;
     border-radius: 20px;

}     

.bigCounter {
   background-color: black;
   text-align: center;
   background-image: url("https://st2.depositphotos.com/1427101/5519/v/950/depositphotos_55191577-stock-illustration-number-background.jpg");
   background-size: contain;
   padding-bottom: 600px;
   
}

